@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-bg-cards: rgb(252, 246, 236);
  --color-title-character: rgb(39, 38, 38);
  --color-border-img: white;
  --color-bg: rgb(170, 154, 126);
  --font-family: "Patrick Hand", cursive;
}

html {
  font-size: 16px;
  font-family: var(--font-family);
  height: 100%;
}

body {
  margin: 0;
  background: var(--color-bg);
  height: 100%;
}

.header {
  width: 100%;
  background-color: var(--color-bg-cards);
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
}

.main {
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  row-gap: 1rem;
  column-gap: 0.8rem;
  width: 100%;
}

.character-Container {
  background-color: var(--color-bg-cards);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 21rem;
}
.character-fullName {
  color: var(--color-title-character);
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.character-img {
  border: 5px solid var(--color-border-img);
}
