@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mogra&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* --color-bg-cards: rgb(252, 246, 236); */
  --color-bg-cards: rgb(60, 62, 68);
  --color-title-character: rgb(39, 38, 38);
  --color-border-img: white;
  /* --color-bg: rgb(170, 154, 126); */
  --color-bg: rgb(36, 40, 47);
  --font-family: "Patrick Hand", cursive;
  --font-family2: "Mogra", cursive;
}

html {
  font-size: 16px;
  font-family: var(--font-family2);
  color: white;
  height: 100%;
}

body {
  margin: 0;
  background: var(--color-bg);
  height: 100%;
}

.header {
  width: 100%;
  background-color: var(--color-bg-cards);
  border-bottom: 1px solid var(--color-border-img);
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
}

.main {
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  row-gap: 2rem;
  column-gap: 1.8rem;
  width: 100%;
}

.character-Container {
  background-color: var(--color-bg-cards);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 21rem;
}
.character-fullName {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.character-img {
  width: 100%;
  border-radius: 0 0 15px 15px;
}
